body{
    background-image: url("backgroundIndex.jpg");
    background-color:#F1E5E5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
ol.Index li a{
    text-decoration: none;
    color:white;
}
div.boxie{
    width: 90%;
    margin: 0 auto;
    border-style: hidden;
    border-radius: 10px; 
    border-width: 20px;
    
    background-color: #BD462D;
  padding: 10px;
}
h1{
    font-family: 'MedievalSharp', cursive;
    
}
p.Introduction{
    font-family: 'MedievalSharp', cursive;
    border-style: hidden;
    max-width:100%;
padding:10px;
padding-bottom: 5px;
margin:0 auto;
}
h1{
max-width: 100%;
border-style: hidden;
border-bottom: solid;
border-color: black;
margin:0 auto;
padding-left: 40%;
}

ol{
    list-style: none;
    color: white;
    max-width: 250px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: black;
    padding:10px;
}
ul > a li{
    max-width: 300px;
    border-style:solid;
    background: black;
    padding:5px;
    display: block;
}
.Index li ul{
    display:none;
}
ul > a li:hover{
    display:block;
    background-color: grey;
}
.Index li:hover > ul {
    display:block;
}
footer{
    font-size: 11px;
}