/*body{*/

    /*Aquí va la imagen de background*/
/*}*/
body{
    background: white;
    color:white;
}
ol.Index li a{
    text-decoration: none;
    color:white;
}
div.boxie{
    width: 90%;
    margin: 0 auto;
    border-style: hidden;
    border-radius: 10px; 
    border-width: 20px;
    border-color: black;
    background-color: red;
  padding: 10px;
}
h1{
max-width: 100%;
border-style: hidden;
border-bottom: solid;
border-color: black;
margin:0 auto;
padding-left: 40%;
}
ol{
    list-style: none;
    color: white;
    max-width: 250px;
    border-style: hidden;
    background-color: black;
    padding:10px;
}
ul > a li{
    max-width: 300px;
    border-style:solid;
    background: black;
    padding:5px;
    display: block;
}
.Index li ul{
    display:none;
}
ul > a li:hover{
    display:block;
    background-color: grey;
}
.Index li:hover > ul {
    display:block;
}